@model IEnumerable<GerFinancas.Models.Cartoes>

@{
    ViewData["Title"] = "Cartões";
}

<h1>Cadastro de Cartões</h1>

<p>
    <a asp-controller="Cartoes" asp-action="Criar" class="btn btn-primary" border-radius: 30px;>Inserir novo cartão</a>
</p>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}




<table class="table" id="TableCartoes">
    <thead>
        <tr>
            <!--<th>
                Código
            </th>-->
            <th>
                Descrição
            </th>
            <th>
                Limite
            </th>
            <th>
                Dia do Vencimento
            </th>
            <th>
                Melhor dia de Compra
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <!--<td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>-->
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        <!--onKeyPress="return(moeda(this,'.',',',event))"-->
                        @Html.DisplayFor(modelItem => item.Limite)
                        <!--
                        var f = atual.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});
                        -->
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaVencimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MelhorDiaCompra)
                    </td>
                    <td>
                        <a asp-controller="Cartoes" asp-action="Alterar" asp-route-Codigo="@item.Codigo">Alterar</a> |
                        <a asp-controller="Cartoes" asp-action="Visualizar" asp-route-Codigo="@item.Codigo">Visualizar</a> |
                        <a asp-controller="Cartoes" asp-action="Apagar" asp-route-Codigo="@item.Codigo">Excluir</a>
                    </td>
                    <!--
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                    -->
                </tr>

            }
        }
        else
        {
            <tr class="odd"><td valign="top" colspan="5">Nenhum cartão encontrado!</td></tr>
        }

    </tbody>
</table>

<div>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
</div>
